name: Deploy to AWS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/slts-erp
            git pull
            npm install
            npm run build
            # Restart the app using PM2, or start it if it doesn't exist
            pm2 restart slts-erp || pm2 start npm --name "slts-erp" -- start
            # Run database migrations
            npx prisma migrate deploy